/.web-server-pid
/app/config/parameters.yml
/phpunit.xml
/var/**
!/var/**/
!var/SymfonyRequirements.php
/vendor/
/web/bundles/

/docker/var/**
!/docker/var/**/

/docker/php/var/**
!/docker/php/var/**/

/.idea/
/nbproject/
/.env

/.tmp


!.gitkeep
